@import "color";

img {
  border: 0;
  border-width: 0;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 30px;
  line-height: 1.5em;
  list-style-type: none;
}



a:hover,
a:active {
  text-decoration: none;
  color: $secondary-link-color;
  background: #b30000;
}
