@import "color";

header#page-header {
  color: $secondary-background-color;
  background: #80bfff;
  padding: 5px;
  border-bottom: 3px solid darken($primary-background-color, 10%);
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer {
  color: $primary-background-color;
  background: #80bfff;
  text-align: center;
  padding: 5px;
  border-top: 3px solid darken($secondary-background-color, 10%);
}

aside#sidebar {
  float: right;
  background: #80bfff;
  width: 200px;
}

