@import "color";

header#page-header {
  padding: 5px;
  height: 60px;
  border-style: none;
  background: linear-gradient( #ff0000, #4d0000);
  h1 {
    text-align: center;
    color: white;
    vertical-align: middle;
    font-size: 30px;
  }
}

footer#page-footer {
  color: #ffcccc;
  background: #990000;
  text-align: center;
  padding: 5px;
  height: 40px;

  
}

.rightside {
  background: #85adad;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  .side {
    padding-left: 40px;
  }
}

.button {
  background-color:#476b6b;
  width: 140px;
  height: 30px;
  color: white;
  line-height: 5px;
 
  

}

