<div class="row">
<div class="large-12 columns">
<footer id="page-footer">

  <p>
    Copyright &copy; 2015
    <%= link_to 'The Pragmatic Studio','http://pragmaticstudio.com' %>
  </p>
</footer>
</div>
</div>